extends layout

block content
  script(src='javascripts/app.js').
  div(ng-controller='JuanPauloMeCtrl')
    section#banner
      .inner
        header
          .circle
            img(src='images/mugshot.jpg', alt='')
        h3 Juan Paulo M. Gutierrez
        p
          | I'm a Filipino engineer living in Tokyo
          br
          | with a passion for art and technology.
          br
          | Husband to&nbsp;
          a(href='http://instagram.com/miamama2014' target='_blank') Nozomi
          | , father to&nbsp;
          a(href='http://afterthebigday.com/whats-in-a-name/' target='_blank') Mía
          | ,
          br
          | and a follower of Christ.
        footer
          ul.buttons.vertical
            li
              a.button.scrolly(href='#photography') Tell Me More
    article
      header#photography.separator
      //-   span.icon.fa-camera-retro
      section.wrapper.style3.container.special
        header
          h2
            | Photography
        p
          | Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.
        section.collage
          div(ng-repeat="photo in photos")
            a
              img(src='https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg')
          //- .row
          //-   .6u
          //-     section
          //-       a.image.feature(href='#')
          //-         img(src='images/pic05.jpg', alt='')
          //-   .6u
          //-     section
          //-       a.image.feature(href='#')
          //-         img(src='images/pic06.jpg', alt='')
          //- header
          //-   h3 And Another Train
          //- p
          //-   | Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.
        footer.major
          ul.buttons
            li
              a.button(href='https://www.flickr.com/photos/juan_paulo/' target='_blank')
                span.icon.fa-camera-retro
                span &nbsp;View Photostream
            //- li
            //-   a.button(href='http://500px.com/juanpaulo' target='_blank') 500px
      header#projects.separator
      section.wrapper.style2.container.special-alt
        .row.half
          .8u
            header
              h2
                | Projects
            p
              | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu comteger ut fermentum lorem. Lorem ipsum dolor sit amet. Sed tristique purus vitae volutpat ultrices. eu elit eget commodo. Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo.
            footer
              ul.buttons
                li
                  a.button(href='/projects')
                    span.icon.fa-wrench
                    span &nbsp;View Page
          .4u.skel-cell-important
            ul.feature-icons
              li
                span.icon.fa-code
                  span.label Feature 1
              li
                span.icon.fa-bar-chart-o
                  span.label Feature 2
              li
                span.icon.fa-child
                  span.label Feature 3
              li
                span.icon.fa-leaf
                  span.label Feature 4
              li
                span.icon.fa-home
                  span.label Feature 5
              li
                span.icon.fa-gears
                  span.label Feature 6
      header#blog.separator
      section.wrapper.style1.container.special
        header
          h2
            | Blog
        p
          | Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.
        .row
          .4u
            section
              span.icon.feature.fa-laptop
              header
                h3 Technology
              p
                | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
              footer
                a.button(href='/blog')
                  span.icon.fa-tag
                  span &nbsp;View Posts
          .4u
            section
              span.icon.feature.fa-plane
              header
                h3 Travel
              p
                | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
              footer
                a.button(href='/blog')
                  span.icon.fa-tag
                  span &nbsp;View Posts
          .4u
            section
              span.icon.feature.fa-cutlery
              header
                h3 Food
              p
                | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
              footer
                a.button(href='/blog')
                  span.icon.fa-tag
                  span &nbsp;View Posts
      header#contact.separator
      section.wrapper.style4.special.container.small
        header
          h2
            | Contact
        p
          | Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.
        .content
          form
            .row.half.no-collapse-1
              .6u
                input(type='text', name='name', placeholder='Name')
              .6u
                input(type='text', name='email', placeholder='Email')
            .row.half
              .12u
                input(type='text', name='subject', placeholder='Subject')
            .row.half
              .12u
                textarea(name='message', placeholder='Message', rows='7')
            .row
              .12u
                ul.buttons
                  li
                    a.button(href='#')
                      span.icon.fa-envelope
                      span &nbsp;Send Message

      section#cta
        header
          h2
            | Ready to do
            strong something
            | ?
          p Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.


