extends layout

block content
  section#banner
    .inner
      header
        .circle
          img(src='images/mugshot.jpg', alt='')
      h3 Juan Paulo M. Gutierrez
      p
        | I'm a Filipino engineer living in Tokyo
        br
        | with a passion for art and technology.
        br
        | Husband to&nbsp;
        a(href='http://instagram.com/miamama2014' target='_blank') Nozomi
        | , father to&nbsp;
        a(href='http://afterthebigday.com/whats-in-a-name/' target='_blank') Mía
        | ,
        br
        | and a follower of Christ.
      footer
        ul.buttons.vertical
          li
            a.button.scrolly(href='#blog') Tell Me More
  article
    header#content.separator
    section.wrapper.style1.container.special
      //- header
      //-   h2
      //-     | TODO add description
      .row
        .4u#blog
          section
            a.image.feature(href='#')
              img(src='images/blog.jpg', alt='')
            header
              h3 Blog
            p
              | Random ramblings on technology, computers, products, the Internet of Things and other cool stuff.
              | DIY solutions for home improvement, home-grown produce, recipes, brewing coffee and beer.
              | Journal of thoughts from daily devotions and quiet time, prayers and reading plans.
            footer
              a.button(href='https://medium.com/@juanpaulo' target='_blank')
                span.icon.fa-pencil
                span &nbsp;Medium Blog
        .4u#photography
          section
            a.image.feature(href='#')
              img(src='images/photography.jpg', alt='')
            header
              h3 Photography
            p
              | Photography is an expression of my artistic view of the world around me.
              br
              | I consider photos as bookmarks that take us back to a time, place or event in our lives. I like to tell a story through images that convey a feeling or impression that can be communicated, shared and experienced.
            footer
              a.button(href='https://www.flickr.com/photos/juan_paulo/' target='_blank')
                span.icon.fa-camera
                span &nbsp;Flickr Photostream
        .4u#projects
          section
            a.image.feature.clip(href='#')
              img(src='images/projects.jpg', alt='')
            header
              h3 Projects
            p
              | As an advocate of&nbsp;
              a(href='http://sloanreview.mit.edu/article/recapturing-monozukuri-in-toyotas-manufacturing-ethos/' target='_blank') Monozukuri
              |, I‘m consistently engaged in making things through various projects including Open Source Software, Activity Tracking, Data Visualization, Home Automation, Horticulture and Community Building. Check out the project page for more information!
            footer
              a.button(href='/projects')
                span.icon.fa-wrench
                span &nbsp;Projects Page
    header#contact.separator
    section.wrapper.style4.special.container.small
      header
        h2
          | Contact
      //- p
      //-   | TODO add description
      .content
        form
          .row.half.no-collapse-1
            .6u
              input(type='text', name='name', placeholder='Name')
            .6u
              input(type='text', name='email', placeholder='Email')
          .row.half
            .12u
              input(type='text', name='subject', placeholder='Subject')
          .row.half
            .12u
              textarea(name='message', placeholder='Message', rows='7')
          .row
            .12u
              ul.buttons
                li
                  a.button(href='#')
                    span.icon.fa-envelope
                    span &nbsp;Send Message

    section#cta
      //- header
      //-   h2 Elsewhere
      //- p
      //-   | You can find me on a variety of social media channels
