extends layout

block content
  script.
    $('#header').removeClass('alt');
  article#main
    //- header.special.container
    //-   span.icon.fa-wrench
    section.wrapper.style3.container.special
      .content
        section
          a.image.feature(href='#')
            img(src='https://farm3.staticflickr.com/2582/3821144478_c04e00c686.jpg', alt='')
          header
            h3 This Page is Under Construction
            span.copyright
            | Artwork:&nbsp;
            a(href='https://www.flickr.com/photos/drewbryant/') drewbryant
            | .
